@import "tailwindcss";

@theme {
  --color-background: #020202;           /* black */
  --color-foreground: #F3EFF5;           /* white */
  --color-primary: #058c42;              /* green */
  --color-accent: #16db65;               /* Vibrant green */

}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  min-height: 100vh;
}
