@import "tailwindcss";

@theme {
  --color-background: #020202;           /* black */
  --color-foreground: #F3EFF5;           /* white */
  --color-primary: #058c42;              /* green */
  --color-accent: #16db65;               /* Vibrant green */

}

body {
  font-family: var(--font-audiowide), sans-serif;
  background: var(--color-background);
  color: var(--color-foreground);
  min-height: 100vh;
}

h1, h2, h3 {
  font-weight: bold;
}

h2 {
  color: var(--color-accent);
  font-size: 3rem;
  border-bottom: 2px solid var(--color-primary);
  text-align: center;
}

h3 {
  color: var(--color-primary);
  font-size: 2rem;
  border-bottom: 1px solid var(--color-accent);
}

p {
  font-size: 1.125rem;
  line-height: 2.5rem;
}

.animated-underline {
  position: relative;
  display: inline-block;
}

.animated-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #22c55e 0%, #16db65 100%); /* Accent color */
  transition: width 0.3s cubic-bezier(.4,0,.2,1);
  border-radius: 2px;
}

.animated-underline:hover::after,
.animated-underline:focus::after {
  width: 100%;
}

/* Show label always on small screens, only on hover for medium+ */
@media (max-width: 768px) {
  .skill-label {
    display: block !important;
    opacity: 1 !important;
    position: static !important;
  }
}